# PROJECT ABOUT YEARS MOViNG AVERAGE 
## Explore Weather Trends

### Gathering Data

We load the databases `results_city_data.csv` and `results_global_data.csv` in two different dataframes called `dF_city`and `df_data` respectively.

In [3]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [6]:
# We load the databases results_city_data.csv and results_global_data.csv in two different dataframes 
# called dF_cityand df_data respectively.

df_city = pd.read_csv('results_city_list.csv')
df_data = pd.read_csv('results_global_data.csv')

In [12]:
# Check changes
print(df_city.shape)
df_city.head()

(342, 2)

        city               country
0    Abidjan         Côte D'Ivoire
1  Abu Dhabi  United Arab Emirates
2      Abuja               Nigeria
3      Accra                 Ghana
4      Adana                Turkey

In [13]:
print(df_data.shape)
df_data.head()

(266, 2)

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

### Assessing Data

We